<div class="col-md-8 offset-md-3">
  <h3>Editar Candidato</h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">

      <label>Nome</label>
      <input type="text" class="form-control" id="nome"
      [(ngModel)]="candidato.nome" name="nome">

    </div>

    <div class="form-group">

      <label>Nascimento</label>
      <input type="text" class="form-control" id="nascimento"
      [(ngModel)]="candidato.nascimento" name="nascimento">

    </div>

    <div class="form-group">

      <label>Sexo</label>
      <select type="text" class="form-select" id="sexo"
      [(ngModel)]="candidato.sexo" name="sexo">
        <option value="M">M</option>
        <option value="F">F</option>
      </select>

    </div>

    <div class="form-group">

      <label>Nota</label>
      <input type="number" class="form-control" id="nota"
      [(ngModel)]="candidato.nota" name="nota">

    </div>

    <div class="form-group">

      <label>Logradouro</label>
      <input type="text" class="form-control" id="logradouro"
      [(ngModel)]="candidato.logradouro" name="logradouro">

    </div>

    <div class="form-group">

      <label>Bairro</label>
      <input type="text" class="form-control" id="bairro"
      [(ngModel)]="candidato.bairro" name="bairro">

    </div>

    <div class="form-group">

      <label>Cidade</label>
      <input type="text" class="form-control" id="cidade"
      [(ngModel)]="candidato.cidade" name="cidade">

    </div>

    <div class="form-group">

      <label>UF</label>
      <input type="text" class="form-control" id="uf"
      [(ngModel)]="candidato.uf" name="uf" maxLength="2">

    </div>

    <button type="submit" class="btn btn-success" style="margin-top: 10px;">Editar</button>

  </form>
  </div>
