<h2 class="text-center">Detalhe Candidato</h2>
<div class="info">

  <div>
    <label>ID: <b>{{candidato.id}}</b></label>
  </div>

  <div>
      <label>Nome: <b>{{candidato.nome}}</b></label>
  </div>

  <div>
    <label>Nascimento: <b>{{candidato.nascimento}}</b></label>
  </div>

  <div>
    <label>Data Criação: <b>{{candidato.dataCriacao}}</b></label>
  </div>

  <div>
    <label>Sexo: <b>{{candidato.sexo}}</b></label>
  </div>

  <div>
    <label>Nota: <b>{{candidato.nota}}</b></label>
  </div>

  <div>
    <label>Logradouro: <b>{{candidato.logradouro}}</b></label>
  </div>

  <div>
    <label>Bairro: <b>{{candidato.bairro}}</b></label>
  </div>

  <div>
    <label>Cidade: <b>{{candidato.cidade}}</b></label>
  </div>

  <div>
    <label>UF: <b>{{candidato.uf}}</b></label>
  </div>

</div>


